<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.powerflasher.fdt.ui.StartDebuggerGroup">
<stringAttribute key="FLEX_SDK_NAME" value="Flex_3_SDK_0"/>
<stringAttribute key="PROJECT_NAME" value="RouteMachine"/>
<stringAttribute key="process_factory_id" value="com.powerflasher.fdt.ui.launch.fcsh.ProcessFactory"/>
</launchConfiguration>
