body {
	font-family: Charlemagne;
	color: #FFFFFF;
	font-size: 12;
}

/* A comment outside the definitions makes flash say "ok..." */

p {
	/* while a comment inside the definitions make flash go "boom!" */
	
	/*********
		how 
		about 
		a
		multiline
		one?
	**********/
	color: #000000;
}

h1 {
	font-size: 42;
	leading: 2;	
}

h2 {
	font-size: 21;
}

h3 {
	font-size: 20;
}

h4 {
	font-size: 14;
}
